.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .4);
  }
  
  .main-nav-logo {
    display: flex;
    font-size: 24px;
    color: black;
    align-items: center;
    text-decoration: none;
  }